/* 
Accordion restyling for pack weight javascript app
*/


#accordion h3{
    font-family: 'Doppio One', sans-serif;
    font-size: 20px;
}

#accordion .header_row {
    font-family: 'Source Sans Pro', sans-serif;
    color: #707070;
    font-size: 12px;
    text-align: right;
}

#accordion .new_item{
    display: none;
    font-size: 16px;
    float: right;
}

#accordion #add_item{
    display: inline;
    float: right;
    width: 25px;
    height: 25px;
    background-color: red;
}

#accordion .name{
    width: 150px;
}


#accordion .ui-accordion-header{
   background: #383838;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
    color:#ffffff;
    padding: 12px;
}

#accordion .ui-accordion-content{
   background: #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

