/* 
CSS for p1.turkeyumber.com
Dynamic Web Apps, Fall 2013

colors:
#FFA400
#DF0018
*/


/* Some general resets */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, a
 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}



body {
    line-height:1.25em;
    height: 100%;
    background-image:url("../img/background.JPG");
    background-size: cover;
    background-attachment:fixed;
   /* background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; */
}


a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h1 {
    font-size:1.5em;
    line-height: 1.75em;
    color: #DF0018;
}

h2 {
    font-size:1em;
    color: #DF0018;
    margin-top: .75em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: .85em;
    color: #000000;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: #999999;
}

table{
    width: 100%;
}



input[class="item_weight_input"]{
    margin-left: 5px;
}

#accordion input{
    float: right;
}


#container {
    display: block;
    width: 815px;
    margin: 75px auto;
    padding: 0px;
    min-height: 800px;
}

#header{
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0.50);
}

#profile_container{
    font-family: 'Roboto',sans-serif;
    font-family: 'Doppio One', sans-serif;
    color: #ffffff;
    display: block;
    width: 850px;
    height: 400px;
    margin: 120px auto;
    background-color: rgba(0,0,0,0.80);
}

#recent_activity{
    font-family: inherit;
    display: inline;
    width: 50%;
    height: 100%;
    border-right: 2px solid #222222;
    float: left;
}

#bio_block{
    display: inline;
    width: 50%;
    height: 152px;
    float:left;
    border-bottom: 2px solid #222222;
}

#user_name{
    font-family: 'Viga', sans-serif;
    color: #2952CC;
    font-size: 36px;
    float: left;
    padding: 20px;
    max-width: 70%;
   text-shadow: 1px 1px 3px rgba(255,255,255,0.25);
}

#profile_pic{
    float:right;
}

#welcome{
    width:100%;
    height: 100%;
    box-shadow: 0px 0px 350px 150px black inset;
}

#welcome h1{
    font-size: 78px;
    font-family: 'Doppio One', sans-serif;
    color: #CB8C1D;
    padding-top: 150px;
    padding-left: 300px;
}

.blur {
   color: transparent;
   text-shadow: 0 0 10px rgba(0,0,0,1);
}

/*----------------------------------------------------------------------------------------
    left side
----------------------------------------------------------------------------------------*/

#left{
    display: inline;
    width:250px;
    float: left;

}

#name{
    display: block;
    background-color: #E9633B;
    margin-bottom: 15px;
    font-family: 'Viga', sans-serif;
    font-size: 48px;
    padding: 20px;
    text-align: right;
    color: #181818;
    line-height: 50px;
    height: 140px;
    -webkit-box-shadow: 1px 1px 30px #000000;
    -moz-box-shadow: 1px 1px 30px #000000;
    box-shadow:  1px 1px 30px #000000;
}

#output{
    display: block;
    background-color: #ECEAE0;
    margin-bottom: 15px;
    font-family: 'Doppio One', sans-serif;
    font-size: 32px;
    font-size: 64px;
    color:#666666;
    padding: 40px 0px;
    text-align: center;
    height: 100px;
    -webkit-box-shadow: 1px 1px 30px #000000;
    -moz-box-shadow: 1px 1px 30px #000000;
    box-shadow:  1px 1px 30px #000000;
}

#units{
    display: block;
    background-color: #63AA9C;
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
    height: 75px;
    -webkit-box-shadow: 1px 1px 30px #000000;
    -moz-box-shadow: 1px 1px 30px #000000;
    box-shadow:  1px 1px 30px #000000;
}

#summary{
    display: block;
    background-color: #CB8C1D;
    height: 250px;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 30px #000000;
    -moz-box-shadow: 1px 1px 30px #000000;
    box-shadow:  1px 1px 30px #000000;
    font-family: 'Doppio One', sans-serif;
    font-size: 24px;
    color: #383838;
}

#converter{
    display: block;
    background-color: #FF6666;
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
    height: 65px;
    -webkit-box-shadow: 1px 1px 30px #000000;
    -moz-box-shadow: 1px 1px 30px #000000;
    box-shadow:  1px 1px 30px #000000;
}


#summary p{
    padding: 15px;
    font-family: 'Doppio One', sans-serif;
    font-size: 24px;
    color: #383838;
}

#summary table{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    padding: 5px;
}

#summary td{
    border: 1px solid black;
    padding: 5px;
}

.category_title{
    font-family: 'Days One', sans-serif;
    width: 70%;
}

/*----------------------------------------------------------------------------------------
    right side
----------------------------------------------------------------------------------------*/


#right{
    display: inline;
    width: 550px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #222222;
    color: #ffffff;
    min-height: 610px;
    -webkit-box-shadow: 1px 1px 30px #000000;
    -moz-box-shadow: 1px 1px 30px #000000;
    box-shadow:  1px 1px 30px #000000;
}




/*----------------------------------------------------------------------------------------
    bottom
----------------------------------------------------------------------------------------*/

#bottom{
    display:block;
    clear:both;
    font-family: 'Doppio One', sans-serif;
    font-size: 18px;
    padding: 20px;
    background-color: #6699cc;
    text-align: left;
    color: #383838;
    min-height: 200px;
    border: 0px;
}

#meals{
    background-color: #A971E2;
}

#bottom h2{
    display: inline;
    font-family: 'Doppio One', sans-serif;
    color: #383838;
    font-size: 28px;
}

#all_pack_items, #food_and_water{
    clear: both;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    border: 2px solid white;
    margin-top: 30px;
}

#all_pack_items,#food_and_water thead{
    font-family: 'Doppio One', sans-serif;
    font-size: 18px;
    text-align: center;
}

#all_pack_items_filter{
    display: inline;
    float:right;
    margin-bottom: 10px;
}


#all_pack_items thead td{
    font-family: 'Doppio One', sans-serif;
    font-size: 18px;
}

#all_pack_items td{
    padding: 5px;
    margin: 2px;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}

#all_pack_items tbody tr.even td {
    background: #85ADD6;
}

#all_pack_items tbody tr.odd td {
    background: #bcd9e1;
}

/*----------------------------------------------------------------------------------------
    button biz
----------------------------------------------------------------------------------------*/

.btn {
    border: none;
    font-family: 'Doppio One', sans-serif;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    display: inline-block;
    margin: 15px 8px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}



/* Button 1 */
.btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
    color: #0e83cd;
    background: #fff;
}

/*----------------------------------------------------------------------------------------
    jquery tabs
----------------------------------------------------------------------------------------*/

.ui-tabs{
    padding: 0px;
    background-color: yellow;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
    clear: both;
}

.ui-tabs-nav{
    background-color: red;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
}

.ui-state-hover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.ui-tabs-active{
    color: blue;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

a#ui-id{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

a#ui-id-1{
    background-color: #6699cc;
    width: 100%;
    text-align: center;
}

a#ui-id-2{
    background-color: #A971E2;
    width: 100%;
    text-align: center;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    border: 0px;
}

.ui-tabs .ui-tabs-panel{
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.ui-tabs .ui-tabs-nav {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-right: 0px;
}

.ui-tabs .ui-tabs-nav li{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 200px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
    border-bottom: 0px;
}

.ui-tabs-panel{
    background-color: orange;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}