
/* ------------------------------------- 
  Large Screens             
------------------------------------- */


/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.1%;
}
.span_1_of_3 {
    width: 32.2%;
}





/* ------------------------------------- 
  Middle Screens: min-width:600px
------------------------------------- */
/*
@media only screen  and (max-device-width : 800px) and (min-device-width : 601px) {
    #wrapper{
        margin: 20px;
    }
}*/

@media only screen  and (max-width : 1025px) and (min-width : 701px) {
    #wrapper{
        margin: 20px 30px;
    }
    .content_boxes{
        -webkit-box-shadow: 1px 1px 10px #000000;
        -moz-box-shadow: 1px 1px 10px #000000;
        box-shadow:  1px 1px 10px #000000;
        margin-bottom: 15px;
    }
    #units{
        display: block;
    }
    #summary{
        display: block;
    }
    /*#toggle_box{
        display: block;
    }
    #toggle_button{
        display: none;
    }*/
}

@media only screen  and (max-width : 900px) and (min-width : 701px) {

    #accordion .col_1{width: 42%;}
    #accordion .col_2{width: 50%;}
    #accordion .col_3{width: 8%;}
    .btn {
        width:80px;
        font-size: 80%;    
    }
    #accordion .ui-accordion-content{
        padding: 5px;
    }
    #units{
        display: block;
    }
    #summary{
        display: block;
    }
    /*#toggle_box{
        display: block;
    }*/
}




/* ------------------------------------- 
  Small Screens: max-width = 600px            
------------------------------------- */

/*@media only screen and (max-device-width: 600px) and (min-device-width: 0px){
    .col { margin: 0;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}*/

@media only screen and (max-width: 700px) and (min-width: 0px) {
    .col { margin: 0;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
    #wrapper{
        margin-top:70px;
    }
    #accordion .col_1{width: 35%;}
    #accordion .col_2{width: 55%;clear:both;}
    #accordion .col_3{width: 5%;}
    .content_boxes{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow:  none; 
    }
    #name,#output,#expand_summary,#expand_units{
        position:fixed;
        top:0px;
        z-index:4;
        padding:0;
        height: 50px;
        text-align: center;
        font-size: 30px;
        display: block;
    }
    #name{
        left:0px;
        width:40%;
    }
    #output{
        padding:15px;
        left:40%;
        width:50%;
    }
    #units{
        display: none;
    }
    #summary{
        display: none;
    }
    #expand_summary{
        display: block;
        padding: 15px;
        left:80%;
        width:10%;
    }
    #expand_units{
        display: block;
        padding: 15px;
        left:90%;
        width:10%;
    }

    #units,#summary,#accordion{
        width:90%;
        margin:10px auto;
    }
    /*#toggle_box{
        display: none;
        margin-top: 70px;
        margin-bottom: -50px;
    }*/
    #accordion{
    }
    #accordion .ui-accordion-content{
        padding: 5px;
    }
}


@media only screen and (max-width: 550px) and (min-width: 0px) {
    body{
        background-image: none;
    }
    #units,#summary,#accordion{
        width:100%;
        margin: 0px;
    }
    #wrapper{
        padding-top: 55px;
        margin: 0px;
    }
    #accordion .col_1{width: 45%;}
    #accordion .col_2{width: 45%;}
    #accordion .col_3{width: 5%;}
    input[class="calculate"]{
        width: 50px;
    }
    #name,#output,#expand_units,#expand_summary{
        height: 55px;
        line-height: 100%;
        text-align: right;
        font-size: 22px;
        padding: 5px 10px;
    }
    #name{
        left:0px;
        width:30%;
    }
    #output{
        padding:15px;
        left:30%;
        width:40%;
    }
    #expand_units{
        left:70%;
        width: 15%;
    }
    #expand_summary{
        left:85%;
        width: 15%;
    }
    #output{
        padding-top:5px;
        font-size: 40px;
        text-align: center;
        vertical-align: bottom;
    }
}
